---
title: Home
---
<!--
<h1>Chung-min Lee</h1>
-->
<!--
<p>You’ve just created a new Nanoc site. The page you are looking at right now is the home page for your site. To get started, consider replacing this default homepage with your own customized homepage. Some pointers on how to do so:</p>
-->
<p> I am a Professor in Applied Mathematics in the Department of Mathematics and Statistics at California State University Long Beach.  I regularly teach undergraduate mathematics courses from Calculus to Partial Differential Equations.  I study science and engineering problems that are described by differential equations and involve numerical computations.</p>

<!--
<ul>
  <li><p><strong>Change this page’s content</strong> by editing the “index.html” file in the “content” directory. This is the actual page content, and therefore doesn’t include the header, sidebar or style information (those are part of the layout).</p></li>
  <li><p><strong>Change the layout</strong>, which is the “default.html” file in the “layouts” directory, and create something unique (and hopefully less bland).</p></li>
</ul>

<p>If you need any help with customizing your Nanoc web site, be sure to check out the documentation (see sidebar), and be sure to subscribe to the discussion group (also see sidebar). Enjoy!</p>
-->
