---
title: Teaching
---

<h1>Teaching</h1>

<!--
<p>You’ve just created a new Nanoc site. The page you are looking at right now is the home page for your site. To get started, consider replacing this default homepage with your own customized homepage. Some pointers on how to do so:</p>
-->
<p> I have taught the following courses in CSULB and in other institutions.</p>


<ul>
  <li>Finite Element Method (MATH 520)</li>
  <li>Numerical Solution of Partial Differential Equations (MATH 577)</li>
  <li>Advenced Mathematical Modeling (MATH 579)</li>
  <li><p><strong>Change the layout</strong>, which is the “default.html” file in the “layouts” directory, and create something unique (and hopefully less bland).</p></li>
</ul>
<!--
<p>If you need any help with customizing your Nanoc web site, be sure to check out the documentation (see sidebar), and be sure to subscribe to the discussion group (also see sidebar). Enjoy!</p>
-->

