<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chung-min Lee - <%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h1> Chung-min Lee </h1>
      <br>
      <br>
      <!--
      <ul>
        <li><a href="http://nanoc.ws/about/">Teaching</a></li>
        <li><a href="http://nanoc.ws/doc/">Research</a></li>
      </ul>
      -->
      <h2><a href="http://leeCM.gitlab.io/nanoc/teaching/index.html">Teaching</a></h2>
      <h2><a href="http://nanoc.ws/doc/">Research</a></h2>
      <h2><a href="http://nanoc.ws/doc/">Other</a></h2>
      <br>
      <br>

      <p><font size="-1"> Department of Mathematics and Statistics </font></p>
      <p><font size="-1"> California State University, Long Beach </font></p>
      <p><font size="-1"> chung-min dot lee at csulb dot edu </font></p>
    </div>
  </body>
</html>
